
<!----------------------------------------  **************   DIV ENDS   *************** -------------------------------------------> 
 <!-- <div class="row justify-content-center row1 pt-1 scrol" >
    <div class="col-6 formwidth pt-3 ">
        <div class="row justify-content-center mt-2">
            <div class="col-4">
                <b class="b">*</b>
                <mat-label>Last name</mat-label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="last name"/>
                </mat-form-field>
            </div>
            <div class="col-4">
                <b class="b">*</b>
                <mat-label>First name</mat-label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="first name">
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2">
                <mat-label>Date Of Birth</mat-label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput  [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-2 me-1">
                <mat-label>Marriage Date</mat-label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput  [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-4 justify-content-center">
                <mat-label>Enter your password</mat-label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput type="password">
                </mat-form-field>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                <mat-label>Designation</mat-label>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-select>
                        <mat-option value="1">DEVELOPER</mat-option>
                        <mat-option value="2">MANAGER</mat-option>
                        <mat-option value="3">HR</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-4">
                <b class="b">*</b>
                <mat-label>Primary Mobile Number</mat-label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="Primary Mobile Number">
                </mat-form-field>
            </div>
            <div class="col-4">
                <b class="b">*</b>
                <mat-label>Secoundry Mobile Number</mat-label>
                <mat-form-field appearance="outline" class="w-100">
                    <input matInput placeholder="Secoundry Mobile Number">
                </mat-form-field>
            </div>
        </div>
                
    </div>
</div> -->
<div class="container-fluid">
<div class="row border-bottom m-2">
    <div class="col-12">
        <u class="uleen-5"><h1 class="regf-e4">REGISTRATION-FORM</h1></u>
    </div>
</div>
<div class="row justify-content-center middlelayout m-2 ">
    <div class="col-md-12 middlelayoutheight">
      <div class="row m-2">
        <div class="col-12">
         <div class="mainhead">HR registration-form</div>
          <div class="row pt-3 justify-content-center pds m-2">
            <div class="col-md-5 pt-4">
                <label>*FirstName:</label><br>
                <input type="text" placeholder="enter your name" class="w-150">
            </div>
            <div class="col-md-4 pt-4">
                <label>*LaststName:</label><br>
                <input type="text" placeholder="enter your name" class="w-150">
            </div>
          </div>
          <div class="row justify-content-center m-2">
            <div class="col-md-5">
                <label>*Email:</label><br>
                <input type="text" placeholder="email" class="w-150">
            </div>
            <div class="col-md-4">
                <label>*Password:</label><br>
                <input type="password" placeholder="password" class="w-150">
            </div>
          </div>
          <div class="row justify-content-center m-2">
            <div class="col-md-5">
                <label>*ConfirmPassword:</label><br>
                <input type="password" placeholder="password" class="w-150">
            </div>
            <div class="col-md-4">
                <label>*DateOfBirth:</label><br>
                <input type="date" placeholder="dob" class="w-150">
            </div>
          </div>
          <div class="row justify-content-center m-2">
            <div class="col-md-5">
                <label>*Gender:</label><br>
                <input type="text" placeholder="male/female" class="w-150">
            </div>
            <div class="col-md-4">
                <label class="w-150">*Disignation:</label><br>
                <select>
                    <option>hr</option>
                    <option>developer</option>
                    <option>manager</option>
                </select>
            </div>
          </div>
          <div class="row justify-content-center m-2">
            <div class="col-md-5">
                <label>*Address:</label><br>
                <input type="text" placeholder="enter your address" class="w-150">
            </div>
            <div class="col-md-4">
                <label>*MobileNumber:</label><br>
                <label>*MobileNumber:</label><br>
                <input type="text" placeholder="enter your number" class="w-150">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 text-end pt-4">
            <p class="esh-e4">#====================></p>
        </div>
        <div class="col-md-2 text-end pt-3">
            <button class="buto0ns-435" mat-mini-fab color="warn" (click)="OnClickNext()">Next</button>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 pt-5">
            <p class="fntf">*please fillup your details in above given fields must and shood</p>
        </div>
      </div>
    </div>
</div> 
</div>