<div class="container-fluid">
<div class="row justify-content-center alighn">
<mat-toolbar color="primary">
    <div class="col-md-2 text-end pt-3">
        <a href="https://www.mlritm.ac.in/marri-laxman-reddy/AISHE">
            <p class="siqz"><mat-icon class="pfl">personfill</mat-icon>ARIIA</p>
        </a>       
    </div>
    <div class="col-md-1 text-end pt-3">
        <a href="https://www.mlritm.ac.in/marri-laxman-reddy/AISHE">
            <p class="siqz"><mat-icon class="pfl">check</mat-icon>AISHE</p>
        </a>       
    </div>
    <div class="col-md-1 text-end pt-3">
        <a href="https://www.mlritm.ac.in/marri-laxman-reddy/nirf">
            <p class="siqz"><mat-icon class="pfl">check</mat-icon>NIRF</p>
        </a>       
    </div>
    <div class="col-md-1 text-end pt-3">
        <a href="https://www.mlritm.ac.in/marri-laxman-reddy/naac">
            <p class="siqz"><mat-icon class="pfl">check</mat-icon>NAAC</p>
        </a>       
    </div>
    <div class="col-md-1 text-end pt-3">
        <a href="https://www.mlritm.ac.in/marri-laxman-reddy/nba">
            <p class="siqz"><img class="pfi" src="https://cdn.iconscout.com/icon/premium/png-128-thumb/lawyer-cap-4078592-3372940.png">NBA</p>
        </a>       
    </div>
    <div class="col-md-1 text-end pt-3">
        <a href="https://www.mlritm.ac.in/marri-laxman-reddy/ugc">
            <p class="siqz"><mat-icon class="pfl">personfill</mat-icon>UGC</p>
        </a>       
    </div>
    <div class="col-md-1 text-end pt-3">
        <a href="https://www.mlritm.ac.in/marri-laxman-reddy/alumni">
            <p class="siqz"><mat-icon class="pfl">personfill</mat-icon>ALUMNI</p>
        </a>       
    </div>
    <div class="col-md-1 text-end pt-3">
        <a href="https://www.mlritm.ac.in/marri-laxman-reddy/ARIIA">
            <p class="siqz"><mat-icon class="pfl">personfill</mat-icon>LOGIN</p>
        </a>       
    </div>
</mat-toolbar>
</div>
<div class="row">
    <div class="col-2">
        <img src="https://www.mlritm.ac.in/assets/images/mlrs_logo.png" alt="web-logo">
    </div>
</div>
</div>