
.pfl{
    font-size: 18px;
    display: flex;
    
};
*{
 padding: 0%;
 margin: 0%;
 border: 0%;
}
.siqz{
    font-size: 14px;
    color: rgb(252, 250, 247);
    font-size: 15px;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    line-height: 20px;
    color: greenyellow;
    text-decoration:none;
    display:flex;
}
.alighn{
    text-align: center;
    display: flex;
}
.pfi{
    height: 26px;
    width: 34px;
    display: flex;
}